
server/.vs/TIP_SpeakUP/v16/.suo
server/TIP_SpeakUP/bin/Debug/netcoreapp3.1/TIP_SpeakUP.dll
server/TIP_SpeakUP/bin/Debug/netcoreapp3.1/TIP_SpeakUP.pdb
server/TIP_SpeakUP/obj/Debug/netcoreapp3.1/TIP_SpeakUP.csprojAssemblyReference.cache
server/TIP_SpeakUP/obj/Debug/netcoreapp3.1/TIP_SpeakUP.dll
server/TIP_SpeakUP/obj/Debug/netcoreapp3.1/TIP_SpeakUP.pdb
server/.vs/TIP_SpeakUP/v16/.suo
client/TIP_SpeakUP — skrót.lnk
server/TIP_SpeakUP/bin/Debug/netcoreapp3.1/TIP_SpeakUP.dll
server/TIP_SpeakUP/bin/Debug/netcoreapp3.1/TIP_SpeakUP.pdb
server/TIP_SpeakUP/obj/Debug/netcoreapp3.1/TIP_SpeakUP.csprojAssemblyReference.cache
server/TIP_SpeakUP/obj/Debug/netcoreapp3.1/TIP_SpeakUP.dll
server/TIP_SpeakUP/obj/Debug/netcoreapp3.1/TIP_SpeakUP.pdb
*.xml
*.dll
*.cache
*.p7s
*.TXT
*.nupkg
*.png
*._
*.pri
*.cache
*.cache
*.cache
*.pdb
*.dll
client/.vs/SpeakUP/v16/.suo
client/SpeakUP/bin/Debug/SpeakUP.pdb
client/SpeakUP/obj/Debug/DesignTimeResolveAssemblyReferences.cache
client/SpeakUP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
